@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");

:root {
  font-family: "Inter", system-ui, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #0077b6;
  --text-color: #333;
  --text-secondary-color: #666;
  --white-color: #fff;
  --secondary-color: #e0e0e0;

  --primary-color-hover: #005f91;
  --error-color: #e63946;
  --error-color-dark: darkred;

  --container-whitout-navbar: calc(100vh - 80px);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  /* outline: 1px solid rgba(255, 0, 0, 0.2); */
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-color: var(--white-color);
  color: var(--text-color);
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.7em 1.4em;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 999px;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  line-height: 1;
  max-width: 240px;
  transition: background 0.3s ease, box-shadow 0.3s ease;

  svg {
    margin-right: 0.5rem;
    font-size: 1.1rem;
  }

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  }

  &:disabled,
  &.btn--disabled {
    opacity: 0.6;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
  }

  &__primary {
    // background: linear-gradient(to right, #0077b6, #00b4d8);
    background: var(--primary-color);
    color: var(--white-color);
    border: none;
    transition: all 0.3s ease;

    &:hover {
      // background: linear-gradient(to right, #005f91, #0096c7);
      background: var(--primary-color-hover);
      // transform: scale(1.01);
    }

    &-outline {
      border: 1px solid var(--primary-color);
      background: transparent;
      color: var(--primary-color);
      transition: all 0.3s ease;

      &:hover {
        color: var(--white-color);
        background-color: var(--primary-color);
      }
    }
  }

  &__secondary {
    background-color: #ffb703;
    color: #1a1a1a;
    border: none;

    &:hover {
      background-color: #f4a261;
      // transform: scale(1.01);
    }
  }

  &__tertiary {
    background-color: transparent;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);

    &:hover {
      background-color: rgba(0, 119, 182, 0.08);
      // transform: scale(1.01);
    }
  }

  &__danger {
    background-color: var(--error-color);
    color: var(--white-color);
    border: none;

    &:hover {
      background-color: #b71c1c;
      // transform: scale(1.01);
    }

    &-outline {
      border: 1px solid var(--error-color);
      background: transparent;
      color: var(--error-color);
      padding: 0.5rem 1rem;
      transition: all 0.3s ease;

      &:hover {
        color: var(--white-color);
        background-color: var(--error-color);
      }
    }
  }

  &__reset {
    background-color: #f3f4f6;
    border: 1px solid var(--text-color);
    color: var(--text-color);
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--secondary-color);
    }
  }
}

.error-message {
  color: var(--error-color);
  font-size: 1rem;
  margin: 10px 0;
}

.section__container {
  max-width: 1200px;
  padding: 2rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
}

.loading-spinner {
  border: 5px solid var(--secondary-color);
  border-top: 5px solid var(--primary-color);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.break-text {
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
