@use "../../SkeletonBase.scss";

.user-card--skeleton {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}

.user-card__header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user-card__buttons {
  display: flex;
  gap: 0.5rem;
}
