.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;

  &__label {
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: var(--text-color);
    font-size: 1rem;
  }

  &__field {
    padding: 0.75em 1em;
    border: 1px solid #f1f1f1;
    border-radius: 10px;
    font-size: 1rem;
    font-family: inherit;
    background-color: var(--white-color);
    color: var(--text-color);
    transition: all 0.25s;

    &:focus {
      border-color: var(--primary-color);
      outline: none;
      box-shadow: 0 0 0 3px rgba(0, 119, 182, 0.2);
    }

    &--invalid {
      border-color: red;
    }
  }

  &__error {
    min-height: 1.2rem;
    font-size: 0.85rem;
    margin-top: 0.4rem;
    color: red;
    transition: opacity 0.3s ease;

    &:empty {
      visibility: hidden;
    }
  }

  textarea.input__field {
    resize: vertical;
    min-height: 100px;
  }

  select.input__field {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L5 5L9 1' stroke='%23666' stroke-width='1.5'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 1em center;
    background-size: 0.6em;
    padding-right: 2.5em;

    cursor: pointer;
  }
}

.autocomplete-input {
  position: relative;

  .autocomplete-dropdown {
    position: absolute;
    top: calc(100% + 0.3rem);
    left: 0;
    width: 100%;
    background: var(--white-color);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    padding: 0.25rem 0;

    li {
      padding: 0.75em 1em;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: var(--secondary-color);
      }
    }
  }
}
.no-results {
  padding: 0.5rem;
  color: #999;
  font-style: italic;
}

.input-password {
  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }

  &__toggle {
    width: fit-content;
    position: absolute;
    right: 0.75rem;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      color: var(--primary-color);
    }
  }
}
